DATABASE_URL=postgresql+asyncpg://wallet_user:wallet_pass@db:5432/wallet_db
DATABASE_URL_SYNC=postgresql://wallet_user:wallet_pass@db:5432/wallet_db
POSTGRES_DB=wallet_db
POSTGRES_USER=wallet_user
POSTGRES_PASSWORD=wallet_pass
APP_ENV=production
